{#
<div class="elv-toc">

<details open>
	<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.sidebarNav | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }} 
</details>

{% include "components/contributeBtn.njk" %}

</div>
#}

<div class="elv-toc">
  <details open>
	<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>
	{% for nav in routes %}
	  <ol class="elv-toc-list">
      {% for group in nav.navGroup %}
        <li>{{ group.group }}</li>
        <ol class="elv-toc-list">
        {% for page in group.pages %}
          <li><a href="/pages/{% if page.static %}static/{% endif %}{{page.slug}}/">{{page.slug}}</a></li>
        {% endfor %}
        </ol>
      {% endfor %}
	  </ol>
	{% endfor %}
  </details>
</div>