<div class="elv-toc">

<details open>
	<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
{#	{{ collections.sidebarNav | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }} #}
	{{ routes | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
</details>

{% include "components/contributeBtn.njk" %}

</div>

{#
<div class="elv-toc">
	<details open>
	<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>
	<ul>
	{% for item in pages %}
		<li class='elv-toc-list'><a href="/pages/{{item.slug.current}}/">{{ item.sidebarLabel}}</a></li>
	{% endfor %}
	</ul>
</div>
#}
{#
<div class="elv-toc">
	<details open>
	<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>
	<nav class="l-toc v-toc__nav" aria-label="Table of Contents">
		<a href="/"><h2 id="table-of-contents" class="u-hide-visually">
			Home
		</h2></a>
		<ul>
			<li class='elv-toc-list'>
				<a href="#learn-the-fundamentals-and-principles-behind-accessible-design">Build basics</a>
				<ol>
					<li class="elv-toc-list"><a href="/pages/children/">Children</a></li>
					<li class="elv-toc-list"><a href="/pages/student/">Student</a></li>
				</ol>
			</li>
			<li class='elv-toc-list'>
				<a href="#conduct-an-accessibility-audit">Conduct an audit</a>
			</li>
			<li class='elv-toc-list'>
				<a href="#meet-the-community">Cultivate community</a>
			</li>
			<li class='elv-toc-list'>
				<a href="#explore-resources">Explore resources</a>
			</li>
		</ul>
	</nav>
	</details>
</div>
#}