---
layout: layouts/base.njk
pagination:
  alias: post
  data: posts
  size: 1
  addAllPagesToCollections: true
---

<body>
<img src="{%  imageUrlFor post.mainImage, 900  %}" alt="{{ post.mainImage.alt }}">
<p>Pastor David began his ministry as pastor of Grace Baptist Church in July 2020.  His vision for the church and his personal ministry are rooted in Jesus’ words, “Love the Lord Your God with all your heart, soul, mind and strength and love your neighbor as yourself.” His passion in ministry is to help people connect with and experience God’s transforming presence and equip them to become agents of transformation in our world that is dying for hope, change, and the transformation that only God can bring.  Romans 12:1-2; Micah 6:8; and Ephesians 4:11-12 are verses that guide Pastor David’s life and ministry.

Pastor Braneky holds a BA in Christian Ministries from Messiah College and a Master of Divinity from Eastern Baptist Theological Seminary; He has also taken basic and accelerated coach training.  Previously, he has served as the pastor of the Baptist Church of West Chester, Lansdowne Baptist Church, and led U.S. and Canadian students on peace building/cross cultural exchanges to South Africa.

Last August, Pastor David married his wife, Janet, who is a Neo-Natal Intensive Care Nurse.  Together they have three sons. Frankie, Wendell and Henry.  In his spare time, Pastor David enjoys reading, baking, biking, sports and gardening.</p>
</body>