<div class="jess-footer">
	<div class="jess-container">
		<div class="jess-info">
			<div class="jess-icons">
				<p>jesska llc</p>
				<a href="https://twitter.com/lamplightdev">
				<img src="img/twitter.svg" alt loading="lazy">
				<span>Twitter</span>
				<a href="https://twitter.com/lamplightdev">
				<img src="img/github.svg" alt loading="lazy">
				<span>GitHub</span>
				<a href="https://twitter.com/lamplightdev">
				<img src="img/linkedin.svg" alt loading="lazy">
				<span>LinkedIn</span>
				<a href="https://twitter.com/lamplightdev">
				<img src="img/instagram.svg" alt loading="lazy">
				<span>Instagram</span>
				<a href="https://twitter.com/lamplightdev">
				<img src="img/youtube.svg" alt loading="lazy">
				<span>YouTube</span>
			</div>
		</div>
	</div>
</div>