    <header class="elv-layout elv-layout-full elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
      {#
      <div class="elv-header-c">
        <a href="{{ '/' | url }}"><img src="{% imageUrlFor metadata.brandLogo, 100 %}" alt="{{ metadata.brandLogo.alt }}"></a>
      </div>
      #}
      <a href="{{"/" | url}}">
        <h1 class="elv-hed">{{ metadata.title | orphanWrap | safe }}</h1>
      </a>
{#      
      <div class="elv-header-c">
        <div class="elv-nav-header">
          <ul class="elv-nav lo">
            <li class="elv-nav-item lo-c"><a href="{{ "/about-us/" | url }}" class="elv-externalexempt">about us</a></li>
            <li class="elv-nav-item lo-c"><a href="{{ "/docs/search/" | url }}" class="elv-nav-light">Search</a></li>
          </ul>
        </div>
      </div>
#}      
    </header>