{% if heroImage %}
    <div class="elv-hero elv-externalexempt jesska" style="background-image:url({{ heroImage }}); height: 41.59vw; width: 100%; background-size: auto 100%; background-repeat: no-repeat; background-position: center center; position: relative; background-size: cover; box-shadow: 0 0 2px 2px; border-radius: 15px 15px"></div>
{% endif %}