{#
{% set style = "display: flex; justify-content: left; width: 100%; border-radius: 8px; box-shadow: 0px 3px 5px rgba(0,0,0,.18);" %}
<div style="padding: .25em 0;">
  <article style="{{ style }} padding: 0 0.5em;">
    <div class="content">
      <a href="{{ item.url }}"><h3>{{ item.data.post.title }}</h3></a>
      <p>{{ item.data.post.excerpt }}</p>
      <p>Posted {{ item.data.post.publishedAt | publishedAt }}</p>
    </div>
  </article>
</div>
#}

{% set style = "padding: 1.25em; list-style: none; width: 100%; border-radius: 8px; box-shadow: 0px 3px 5px rgba(0,0,0,.18);" %}
<li class="article-list-artifact" style="{{style}}">
  <a href="{{ item.url }}"><h3>{{ item.data.post.title }}</h3></a>
  <p>{{ item.data.post.excerpt }}</p>
  <p>Posted {{ item.data.post.publishedAt | publishedAt }}</p>
</li>