<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">

    {#
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.11ty.dev/">
		<meta property="og:site_name" content="Eleventy">
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="{{ subtitle }}">
		<meta property="og:description" content="{{ social.description }}">
		<meta property="og:image" content="{{ social.imgsrc }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="640">
		<meta property="og:image:alt" content="{{ social.imgalt }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:site" content="@eleven_ty">
		<meta property="twitter:creator" content="@zachleat">
		<meta property="twitter:url" content="https://www.11ty.dev/">
		<meta property="twitter:title" content="{{ subtitleText }}">
		<meta property="twitter:description" content="{{ social.description }}">
		<meta property="twitter:image" content="{{ social.imgsrc }}">
		<meta property="twitter:image:alt" content="{{ social.imgalt }}">
    #}

    {%- set css %}
      {% include "index.css" %}
      {% include 'components/navigation.css' %}
      {#
      {% include 'components/font-titles.css' %}
      {% include 'components/layout.css' %}
      {% include 'components/toc.css' %}
      {% include 'components/callout.css' %}
      {% include 'components/breadcrumb.css' %}
      {% include 'components/prism-theme.css' %}
      {% include 'components/code.css' %}
      {% include 'components/announcement.css' %}
      {% include 'components/seven-minute-tabs.css' %}
      #}
      {{ googlefonts | safe }}      
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
      {{ content | safe }}
  </body>
</html>
